<h1><u> Homework 5 </u></h1>

<h3><u>Cats</u></h3>
<% @cats.each do |cat|%>
	<%= cat.name%>
</br>
<% end %>

<h3><u>Users</u></h3>
<% @users.each do |user|%>
	<%= user.username%>
	<%= user.email%>
	<%= user.age%>
</br>
<% end %>

<h3><u>Todos</u></h3>
<% @todos.each do |todo|%>
	<%= check_box_tag('finished', todo.id, todo.finished)%>
	<%= todo.tasks%>
	
</br>
<% end %>
</br>
<%= link_to 'Add Todo', '/todo/new' %>

